@model UserViewModel

<div class="modal fade " id="edit_experience" tabindex="-1" role="dialog" aria-labelledby="edit_experience">
    <form class="Edit_Education_form">
        <div class="modal-dialog" role="document" style="width: 744px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title" id="myModalLabel" style="color: rgba(0, 0, 0, 0.6); font-size:140%;">Edit Experience</p>
                </div>

                <div class="profile_modal_body">
                    @Html.HiddenFor(e => e.UserWorkplace.Id)

                    <div class="form-group">
                        @Html.LabelFor(m => m.UserWorkplace.Title, new { @class = "labels" })
                        @Html.TextBoxFor(m => m.UserWorkplace.Title, new { @class = "form-control largetextbox", placeholder = "Ex: Manager" })
                        @Html.ValidationMessageFor(m => m.UserWorkplace.Title)
                    </div>

                    <!--Company-->
                    <div class="form-group">
                        @Html.LabelFor(m => m.Workplace.Name, new { @class = "labels" })
                        @Html.TextBoxFor(m => m.Workplace.Name, new { @class = "form-control largetextbox", placeholder = "Ex: Microsoft" })
                        @Html.ValidationMessageFor(m => m.Workplace.Name)
                    </div>
                    @*<div class="form-group">
            @Html.LabelFor(m => m.UserWorkplace.Workplace.Name, new { @class = "labels required" })
            @Html.TextBoxFor(m => m.UserWorkplace.Workplace.Name, new { @class = "form-control", id = "add-skill-search", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.UserWorkplace.Workplace.Name, "", new { @class = "notvalid" })
            <div id="profile_skill_menu_underlay" class="hidden">
                <div id="profile_skill_menu">
                    @Html.Partial("_Partial_Workplace_Search", new List<Workplace>())
                </div>
            </div>
        </div>*@


                    <div class="form-group">
                        @Html.LabelFor(m => m.UserWorkplace.Location, new { @class = "labels" })
                        @Html.TextBoxFor(m => m.UserWorkplace.Location, new { @class = "form-control largetextbox", placeholder = "Ex: London, United Kingdom" })
                        @Html.ValidationMessageFor(m => m.UserWorkplace.Location)
                    </div>

                    <div class="form-group  duration-editeducation">
                        <div class="startdate">
                            @Html.LabelFor(m => m.UserWorkplace.StartDate, new { @class = "labels required" })
                            @Html.EditorFor(m => m.UserWorkplace.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.UserWorkplace.StartDate, "", new { @class = "notvalid" })
                        </div>

                        <div class="enddate">
                            @Html.LabelFor(m => m.UserWorkplace.EndDate, new { @class = "labels required" })
                            @Html.EditorFor(m => m.UserWorkplace.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.UserWorkplace.EndDate, "", new { @class = "notvalid" })
                        </div>

                    </div>

                    @*<div>
            <label for="currentwork">I currently work in role</label>
            <input type="checkbox" name="currentwork" aria-label="...">
        </div>*@

                    <div class="form-group">
                        @Html.LabelFor(m => m.UserWorkplace.Industry, new { @class = "labels" })
                        @Html.DropDownListFor(m => m.UserWorkplace.Industry, new SelectList(new[] { "Architecture Engineering", "Civil Engineering", "Medicine", "Commerce", "Art/Composition", "Other" }), new { @class = "form-control largetextbox" })
                        @Html.ValidationMessageFor(m => m.UserWorkplace.Industry)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.UserWorkplace.HeadLine, new { @class = "labels" })
                        @Html.TextAreaFor(m => m.UserWorkplace.HeadLine, new { @class = "form-control largetextbox" })
                        @Html.ValidationMessageFor(m => m.UserWorkplace.HeadLine)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.UserWorkplace.Description, new { @class = "labels" })
                        @Html.TextAreaFor(m => m.UserWorkplace.Description, new { @class = "form-control largetextbox" })
                        @Html.ValidationMessageFor(m => m.UserWorkplace.Description)
                    </div>
                </div>
                
                
                <div class="modal-footer profile_custom_modal_footer">

                    <input type="button" id="Edit_Experience_Submit" value="Save" class="btn btn-primary" style="border-radius:3px;  padding-top:5px; padding-bottom:5px; padding-left:15px;  padding-right:15px; " />

                </div>
            </div>
        </div>
    </form>
</div>
