@model UserViewModel
@{

    ViewBag.Title = "Edit";
}

@{

    AjaxOptions ajaxopt_editform = new AjaxOptions()
    {
        HttpMethod = "post",
        UpdateTargetId = "user",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "$('#header-form-edit').modal('hide')"
    };
}


@using (Ajax.BeginForm("EditHeaderFormAjex", "profile", ajaxopt_editform, new { @class = "editform" }))
{
    <div class="modal fade " id="header-form-edit" tabindex="-1" role="dialog" aria-labelledby="header-form-edit">
        <div class="modal-dialog" role="document" style="width: 744px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="color: rgba(0, 0, 0, 0.6); font-size:140%;">Edit intro</h4>
                </div>

                <div class="background-profile-images">
                    <img src="~/images/1.png" alt="" style="width: 722px;">
                    <div class="profileimage">
                        @if (@Model.User.ProfilePicture == null || @Model.User.ProfilePicture == "")
                        {
                            <img src="~/content/images/default.png" alt="" height="128" width="128">
                        }
                        else
                        {
                            <img src="~/content/images/@Model.User.ProfilePicture" alt="" height="128" width="128">
                        }
                    </div>
                </div>

                <div class="profile_modal_body editform_body">

                        @Html.HiddenFor(e => e.User.Id)

                    <div class="fullname">
                        <div class="form-group first_name_edit">
                            @Html.LabelFor(m => m.User.FirstName, new { @class = "required labels" })
                            @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control " })
                            @Html.ValidationMessageFor(m => m.User.FirstName)
                        </div>

                        <div class="form-group last_name_edit">
                            @Html.LabelFor(m => m.User.LastName, new { @class = "required labels" })
                            @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control " })
                            @Html.ValidationMessageFor(m => m.User.LastName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.User.Headline, new { @class = " labels" })
                        @Html.TextAreaFor(m => m.User.Headline, new { @class = "form-control largetextarea" })
                        @Html.ValidationMessageFor(m => m.User.Headline)
                    </div>


                    <div class="form-group current-position">

                        @Html.LabelFor(m => m.User.CurrentPosition, new { @class = "labels" })
                        @Html.TextBoxFor(m => m.User.CurrentPosition, new { @class = "form-control largetextbox" })
                        @Html.ValidationMessageFor(m => m.User.CurrentPosition)

                        @*<button type="button" class="btn btn-link add-new-position " data-toggle="modal" data-target="#myModal">
                            Add new position
                        </button>*@

                    </div>


                    <div class="form-group new-education">
                        @Html.LabelFor(m => m.User.CurrentEducation, new { @class = "labels" })
                        @Html.DropDownListFor(m => m.User.Fk_CurrentEducation, new SelectList(Model.DropDownListForEducationsOfUser, "Id", "Name"), "Select School/University", new { @class = "form-control largedroplist" })
                        @Html.ValidationMessageFor(m => m.User.CurrentEducation)

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.User.Country, new { @class = " labels" })
                        @Html.DropDownListFor(m => m.User.Fk_Country, new SelectList(Model.Countries, "Id", "Name"), "Select Country", new { @class = "form-control largedroplist" })
                        @Html.ValidationMessageFor(m => m.User.Country)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.User.Summary, new { @class = "labels" })
                        @Html.TextAreaFor(m => m.User.Summary, new { @class = "form-control largetextarea" })
                        @Html.ValidationMessageFor(m => m.User.Summary)
                    </div>
                </div>

                <div class="modal-footer">

                    <input type="submit" value="Save" class="
                           btn-primary" style="border-radius:3px;  padding-top:5px; padding-bottom:5px; padding-left:15px;  padding-right:15px; " />

                </div>
            </div>
        </div>
    </div>

}
