@model UserViewModel

@{
    ViewBag.Title = Model.User.FirstName + Model.User.LastName;
}

@{
    AjaxOptions ajaxOpt = new AjaxOptions()
    {
        HttpMethod = "POST",       
        OnSuccess = "myFunc"
    };
}

<div id="user">
    <div class="first-part">

        <div class="background-profile-images">

            <img src="~/images/1.png" alt="">
            <div class="profileimage">

                @if (@Model.User.ProfilePicture == "" || @Model.User.ProfilePicture == null)
                {
                    <img src="~/images/default.png" alt="" height="128" width="128" id="profilePicture">
                }
                else
                {
                    <img src="@Model.User.ProfilePicture" alt="" height="128" width="128" id="profilePicture">
                }

                @*  -------------------   Button to Upload Image      ----------------    *@
                @using (Ajax.BeginForm("UploadProfilePictureAjax", "Profile", ajaxOpt, new { enctype = "multipart/form-data", id = "ajaxForm" }))
                {
                    if (ViewBag.IsCurrentUserPage == true)
                    {
                        <label class="btn btn-link pen" id="btnProfile" style="z-index: 5; position: relative; top: -37px; left:116px; border-radius: 50%; background-color: #ffffff78; padding: 4px; font-size: 20%;">
                            <svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M21.71,5L19,2.29a1,1,0,0,0-1.41,0L4,15.85,2,22l6.15-2L21.71,6.45A1,1,0,0,0,22,5.71,1,1,0,0,0,21.71,5ZM6.87,18.64l-1.5-1.5L15.92,6.57l1.5,1.5ZM18.09,7.41l-1.5-1.5,1.67-1.67,1.5,1.5Z" class="large-icon" style="fill: currentColor"></path></svg>

                            <input id="uploadbtn" type="file" name="upload" style="display:none;" onchange="$('#ajaxForm').submit()" />
                        </label>
                    }

                }
            </div>

        </div>


        <div class="head">

            <div class="name-headline-country">
                <div class="name">
                    <h4> @Model.User.FirstName @Model.User.LastName</h4>
                    @if (ViewBag.isCurrentUserPage == false && Model.User.Id != ViewBag.User.Id)
                    {
                        <div id="profile_connect">

                            @if (ViewBag.friendState == "noRequest")
                            {
                                <div id="profile_friend" onclick="sendFriendRequest('@Model.User.Id')">Send Friend Request</div>
                            }
                            else if (ViewBag.friendState == "notAccepted")
                            {
                                <div id="profile_friend" onclick="sendFriendRequest('@Model.User.Id')" class="sent">Remove Request</div>
                            }
                            else
                            {
                                <div id="profile_friend" onclick="sendFriendRequest('@Model.User.Id')" class="friend">Friends</div>
                            }
                            <div id="profile_message" data-toggle="modal" data-target="#profile_message_modal">Send Message</div>
                        </div>
                    }
                </div>

                <div class="headline">
                    <h5> @Model.User.Headline</h5>
                </div>

                <div class="country">
                    @if (Model.User.Country != null)
                    {
                        <h6> @Model.User.Country.Name</h6>
                    }
                </div>
            </div>


            @if (ViewBag.IsCurrentUserPage == true)
            {
                <button type="button" class="btn btn-link pen" data-toggle="modal" data-target="#header-form-edit">
                    <svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M21.71,5L19,2.29a1,1,0,0,0-1.41,0L4,15.85,2,22l6.15-2L21.71,6.45A1,1,0,0,0,22,5.71,1,1,0,0,0,21.71,5ZM6.87,18.64l-1.5-1.5L15.92,6.57l1.5,1.5ZM18.09,7.41l-1.5-1.5,1.67-1.67,1.5,1.5Z" class="large-icon" style="fill: currentColor"></path></svg>
                </button>
            }



            <div class="current-education-contact-friends">

                @if (Model.User.CurrentPosition != null)

                {
                    <div>
                        <h7> <span class="glyphicon glyphicon-briefcase"> </span>   @Model.User.CurrentPosition  </h7>
                    </div>
                }

                @if (Model.User.CurrentEducation != null)

                {
                    <div>
                        <h7> <i class="fa fa-bank" style="font-size:16px"></i>  @Model.User.CurrentEducation.Name  @Model.User.CurrentEducation.Type </h7>

                    </div>
                }


            </div>

        </div>

        <div class="virtualdiv"></div>

        <div class="summary">
            <p> @Model.User.Summary</p>
        </div>

    </div>


    @*Education part*@
    @Html.Partial("_Partial_Education_Data", Model.User.UserEductions)


    @*Experience part*@
    @Html.Partial("_Partial_Experience", Model.User.UserWorkplaces)


</div>




<script>
    function myFunc(data) {
        $('#profilePicture').attr('src', data)
    }
</script>
