@model UserViewModel

@{
    ViewBag.Title = Model.User.FirstName + " " + Model.User.LastName;
    Layout = "~/Views/Shared/_Layout_mainLayout.cshtml";
}


@Html.Partial("_Partial_Profile_Header_Work_Education", Model)
@Html.Partial("_Partial_Skill_Data", Model.User.UserSkills)


@Html.Partial("_Partial_Add_Education", Model)

@Html.Partial("_Partial_Add_Skill", Model)
@Html.Partial("_Partial_Edit_Education", Model)
@Html.Partial("_Partial_Delete_Education", Model)
@Html.Partial("_Partial_Edit_Skill", Model)
@Html.Partial("_Partial_Delete_Skill", Model)

@*@Html.Partial("_Partial_Add_Experience", Model)*@

@*@Html.Partial("_Partial_Experience", Model)*@

@* Skills *@



<div class="footer">
    <h4 style="font-weight: bold; margin-left:35px">Linked<i class="fab fa-linkedin-in" style="background-color:#0073B0; color:white; padding:3px; border-radius:2px; font-size:90%; margin-left:2px;font-weight: 100;"></i></h4>

    <div class="footercontent">

        <div class="about">

            <p style="display:block; color:#0073B0; font-size:90%;">About</p>
            <p style="display:block; color:gray; font-size:90%;">Careers</p>
            <p style="display:block; color:gray; font-size:90%; ">Adertising</p>
            <p style="display:block; color:gray; font-size:90%;">Mobile</p>

        </div>

        <div class="talentsolution">

            <p style="display:block; color:#0073B0; font-size:90%; ">Talent Solutions</p>
            <p style="display:block; color:gray; font-size:90%; ">Marketing Solutions</p>
            <p style="display:block; color:gray; font-size:90%; ">Sales Solutions</p>
            <p style="display:block; color:gray; font-size:90%;">Small Business</p>

        </div>

        <div class="community">

            <p style="display:block; color:#0073B0; font-size:90%; ">Community Guidelines</p>
            <p style="display:block; color:gray; font-size:90%;">Privacy & Terms </p>
            <p style="display:block; color:gray; font-size:90%;">Send feedback </p>
            <p style="display:block; color:gray; font-size:90%; ">Safety center</p>

        </div>

        <div class="questions">

            <p style="display:block; color:gray; font-weight:bold; "><i class="far fa-question-circle" style="color:#0073B0;"></i> Questions?</p>
            <p style="display:block; color:gray; font-weight:bold;"><i class="fas fa-cogs" style="color:#0073B0;"></i> Manage your account and privacy</p>



        </div>

    </div>

</div>
