@model UserViewModel
<div class="experience" id="experience">

    <button type="button" class="btn btn-link plus-icon" data-toggle="modal" data-target="#add_experienceModal">
        <li-icon type="plus-icon" role="img" aria-label="Add new experience" class="n"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M21,13H13v8H11V13H3V11h8V3h2v8h8v2Z" class="large-icon" style="fill: currentColor"></path></svg></li-icon>
    </button>

    <button type="button" class="btn btn-link pen2" data-toggle="modal" data-target="#edit_experienceModal">
        <svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M21.71,5L19,2.29a1,1,0,0,0-1.41,0L4,15.85,2,22l6.15-2L21.71,6.45A1,1,0,0,0,22,5.71,1,1,0,0,0,21.71,5ZM6.87,18.64l-1.5-1.5L15.92,6.57l1.5,1.5ZM18.09,7.41l-1.5-1.5,1.67-1.67,1.5,1.5Z" class="large-icon" style="fill: currentColor"></path></svg>
    </button>

    <h4 style="font-size: 135%; color: rgba(0, 0, 0, 0.6); margin-bottom:25px; ">Experience</h4>

   
    <div class="eduaction-data-image">

        <div>
            <i class="fa fa-bank" style="font-size:45px; padding-top:4px; color:gray;"></i>
        </div>

        <div class="eduaction-data" id="">
            @if (Model.Workplaces != null)
            {
                for (int i = 0; i < Model.Workplaces.Count; i++)
                {
                    <h4 class="uni-name">@Model.UserAtWorkplace.Title</h4>
                    <h4 class="uni-certificate">@Model.Workplace.Name</h4>
                    <h4 class="uni-date">@Model.UserAtWorkplace.StartDate - >@Model.UserAtWorkplace.EndDate</h4>
                    <h4 class="uni-date">@Model.UserAtWorkplace.Location</h4>
                }
            }


        </div>
    </div>

</div>

<style>
    .experience {
        position: relative;
        width: 793px;
        border: solid lightgrey 1px;
        padding: 25px;
        padding-top: 0px;
        box-shadow: 1px 1px 1px #888888;
        margin-bottom: 15px;
        margin-left: 35px;
    }
   
</style>