
@model UserViewModel

@{
    AjaxOptions Add_Experience_ajaxOptions = new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "experience",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "$('#add_experienceModal').modal('hide')"
    };
}


@using (Ajax.BeginForm("AddWorkplaceAjax", "Profile", Add_Experience_ajaxOptions, new { @class = "Add_Education_form" }))
{
    <!-- Modal -->
    <div class="modal fade" id="add_experienceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 765px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Experience</h4>
                </div>


                <div class="modal-body-addeducation">
                    @Html.HiddenFor(e => e.UserAtWorkplace.Fk_User)

                    <!--Company-->
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserAtWorkplace.Title, new { @class = "labels" })
                        @Html.TextBoxFor(m => m.UserAtWorkplace.Title, new { @class = "form-control largetextbox", placeholder = "Ex: Manager" })
                        @Html.ValidationMessageFor(m => m.UserAtWorkplace.Title)
                    </div>

                    <!--Company-->
                    <div class="form-group">
                        @Html.LabelFor(m => m.Workplace.Name, new { @class = "labels" })
                        @Html.DropDownListFor(m => m.UserAtWorkplace.Fk_Workplace, new SelectList(Model.WorkplacesAll, "Id", "Name"), "Select your Company", new { @class = "form-control largetextbox" })
                        @Html.ValidationMessageFor(m => m.Workplace.Name)
                    </div>
                    @*<div class="form-group">
                            @Html.LabelFor(m => m.Workplace.Name, new { @class = "labels" })
                            @Html.TextBoxFor(m => m.Workplace.Name, new { @class = "form-control largetextbox", placeholder = "Ex: Microsoft" })
                            @Html.ValidationMessageFor(m => m.Workplace.Name)
                        </div>*@

                    <div class="form-group">
                        @Html.LabelFor(m => m.UserAtWorkplace.Location, new { @class = "labels" })
                        @Html.TextBoxFor(m => m.UserAtWorkplace.Location, new { @class = "form-control largetextbox", placeholder = "Ex: London, United Kingdom" })
                        @Html.ValidationMessageFor(m => m.UserAtWorkplace.Location)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.UserAtWorkplace.StartDate, new { @class = "labels " })
                        @Html.EditorFor(m => m.UserAtWorkplace.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.UserAtWorkplace.StartDate)
                    </div>

                    <div>
                        <label for="currentwork">I currently work in role</label>
                        <input type="checkbox" name="currentwork" aria-label="...">
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.UserAtWorkplace.EndDate, new { @class = "labels  " })
                        @Html.EditorFor(m => m.UserAtWorkplace.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.UserAtWorkplace.EndDate)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.UserAtWorkplace.Industry, new { @class = "labels" })
                        @Html.DropDownListFor(m => m.UserAtWorkplace.Industry, new SelectList(new[] { "Architecture Engineering", "Civil Engineering", "Medicine", "Commerce", "Art/Composition", "Other" }), new { @class = "form-control largetextbox" })
                        @Html.ValidationMessageFor(m => m.UserAtWorkplace.Industry)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.UserAtWorkplace.HeadLine, new { @class = "labels" })
                        @Html.TextAreaFor(m => m.UserAtWorkplace.HeadLine, new { @class = "form-control largetextbox" })
                        @Html.ValidationMessageFor(m => m.UserAtWorkplace.HeadLine)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.UserAtWorkplace.Description, new { @class = "labels" })
                        @Html.TextAreaFor(m => m.UserAtWorkplace.Description, new { @class = "form-control largetextbox" })
                        @Html.ValidationMessageFor(m => m.UserAtWorkplace.Description)
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" style="border-radius:3px;  padding-top:5px; padding-bottom:5px; padding-left:15px;  padding-right:15px; ">Save</button>
                </div>
            </div>
        </div>
    </div>
}

@*<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@